$font-spartan: "Spartan", sans-serif;

// global for both themes
$theme-sidebar: #1e2139;

// local usage
$highlight-purple: #7c5dfa;
$highlight-red: #ec5757;
$highlight-green: #33d69f;
$highlight-orange: #ff8f00;

$--theme-primary: --theme-primary;
$--theme-primary-light: --theme-primary-light;
$--theme-primary-dark: --theme-primary-dark;
$--theme-highlight-purple: --theme-highlight-purple;
$--theme-text-color: --theme-text-color;
$--theme-text-color-secondary: --theme-text-color-secondary;

// Theme colors
$theme-map-dark: (
    $--theme-primary: #1e2139,
    $--theme-primary-light: #252945,
    $--theme-primary-dark: #141624,
    $--theme-highlight-purple: $highlight-purple,
    $--theme-text-color: #ffffff,
    $--theme-text-color-secondary: #e0e4fa,
);

$theme-map-light: (
    $--theme-primary: #f2f2f2,
    $--theme-primary-light: #eef0fb,
    $--theme-primary-dark: #f0efef,
    $--theme-highlight-purple: $highlight-purple,
    $--theme-text-color: #3f4462,
    $--theme-text-color-secondary: #7983bf,
);