@import "mixins";

body {
    &.theme-dark {
        @include spread-map($theme-map-dark);
    }
    color: var(--theme-text-color-secondary);
    background: var(--theme-primary-dark);
}

.btn {
    &.btn-w-icon {

    }
    &.btn-purple {
        @include button-variant($highlight-purple, $highlight-purple, $highlight-purple);
    }
}

.icon {
    display: inline-block;
    fill: currentColor;
}