<a href="/" class="header-exit">
  <div class="exit-icon">
    <svg-icon-sprite
      [src]="'assets/sprites/sprite.svg#icon-arrow-left'"
      [width]="'13px'"
      [classes]="'d-flex'"
    ></svg-icon-sprite>
  </div>
  Go Back
</a>

<header *ngIf="invoice">
  <div class="header-details">
    <p class="header-status">Status</p>
    <div
      *ngIf="invoice.status"
      [ngClass]="[
        invoice.status === 'paid'
          ? 'invoice-status paid'
          : 'invoice-status pending'
      ]"
    >
      <span></span>{{ invoice.status | titlecase }}
    </div>
  </div>
  <div class="header-actions">
    <div class="btn btn-theme">Edit</div>
    <div class="btn btn-red">Delete</div>
    <div class="btn btn-purple" *ngIf="invoice.status === 'pending'" (click)="updateStatus()">
      Mark as Paid
    </div>
  </div>
</header>
