<div class="invoice-details">
  <div class="invoice-summary">
    <div class="invoice-summary-details">
      <div class="invoice-id"><span>#</span>{{ invoice.id }}</div>
      <div class="invoice-desc">{{ invoice.description }}</div>
    </div>
    <div class="invoice-summary-address invoice-address">
      <p>{{ invoice.senderAddress.street }}</p>
      <p>{{ invoice.senderAddress.city }}</p>
      <p>{{ invoice.senderAddress.postCode }}</p>
      <p>{{ invoice.senderAddress.country }}</p>
    </div>
  </div>
  <div class="invoice-billing">
    <div class="invoice-dates">
      <div class="invoice-date">
        <div class="invoice-title">Invoice Date</div>
        <h6>{{ invoice.createdAt | date: "dd MMM yyyy" }}</h6>
      </div>
      <div class="invoice-date">
        <div class="invoice-title">Payment Due</div>
        <h6>{{ invoice.paymentDue | date: "dd MMM yyyy" }}</h6>
      </div>
    </div>
    <div class="invoice-bill">
      <div class="invoice-title">Bill To</div>
      <h6 class="invoice-client">{{ invoice.clientName }}</h6>
      <div class="invoice-client-address invoice-address">
        <p>{{ invoice.clientAddress.street }}</p>
        <p>{{ invoice.clientAddress.city }}</p>
        <p>{{ invoice.clientAddress.postCode }}</p>
        <p>{{ invoice.clientAddress.country }}</p>
      </div>
    </div>
    <div class="invoice-extra">
      <div class="invoice-title">Sent To</div>
      <h6 class="invoice-client">{{ invoice.clientEmail }}</h6>
    </div>
  </div>
  <div class="invoice-products">
    <table class="invoice-products-list">
      <thead>
        <tr>
          <td>Item Name</td>
          <td>QTY.</td>
          <td>Price</td>
          <td>Total</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of invoice.items">
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>£{{ product.price }}</td>
          <td>£{{ product.total }}</td>
        </tr>
      </tbody>
    </table>
    <div class="invoice-total">
      <div class="invoice-title">Amount Due</div>
      <div class="invoice-amount">£{{ invoice.total }}</div>
    </div>
  </div>
</div>
