@import "src/styles/base";
@import "src/styles/bootstrap";

.sidebar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background: var(--theme-primary);

    @include media-breakpoint-up(lg) {
        flex-direction: column;
        position: fixed;
        width: 105px;
        height: 100%;
        border-radius: 0 20px 20px 0;
    }

    .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background: var(--theme-highlight-purple);

        @include media-breakpoint-up(lg) {
            height: 105px;
            border-radius: 0 20px 20px 0;
        }

        img {
            width: 50px;
            height: auto;
        }
    }
    .sidebar-settings {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .sidebar-theme-switcher {
            padding: 20px 0;
        }

        .sidebar-theme-button {
            background: none;
            border: none;
            outline: none;
            opacity: 0.5;
            transition: 0.2s ease;

            &:hover {
                opacity: 1;
            }

            &.dark {
                color: #7E88C3;
            }
            &.light {
                color: #858BB2;
            }
        }
    }

}