<div class="sidebar">
  <div class="sidebar-top">
    <a href="/">
      <img src="/assets/img/logo.svg" alt="Invoice Web App" />
    </a>
  </div>
  <div class="sidebar-bottom">
    <div class="sidebar-theme-switcher">
      <button class="sidebar-theme-button" (click)="changeTheme()">
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#icon-sun'"
          [width]="'25px'"
          *ngIf="currentTheme == 'theme-dark'"
        ></svg-icon-sprite>
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#icon-moon'"
          [width]="'25px'"
          *ngIf="currentTheme == 'theme-light'"
        ></svg-icon-sprite>
      </button>
    </div>
    <div class="sidebar-user-wrapper"></div>
  </div>
</div>
