@import "src/styles/base";

.drawer-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.3s ease-in-out;
}

.form-drawer {
    position: fixed;
    height: 100%;
    padding: 56px 0 32px 56px;
    max-width: 35vw;
    background: var(--theme-primary-dark);
    left: -600px;
    animation: slideIn 0.6s forwards;
}

@keyframes slideIn {
    100% {
      left: 85px;
    }
  }
  

.form-fields-wrapper {
    height: calc(100vh - 180px);
    padding: 20px 20px 20px 0;
    overflow-y: auto;
}

.form-control-wrapper {
    display: flex;

    .form-control {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
}
.form-section-title {
    color: var(--theme-highlight-purple);
    font-size: 13px;
    font-weight: bold;
}
.form-control {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 24px;

    label {
        display: block;
        font-size: 13px;
        color: var(--theme-text-color-secondary);
        transition: 0.3s ease;
    }
    input,
    select {
        width: 100%;
        border-radius: 4px;
        padding: 16px 20px;
        font-size: 13px;
        font-weight: bold;
        color: var(--theme-text-color);
        background: var(--theme-primary);
        border: 1px solid var(--theme-primary-light);
        outline: none;
        transition: 0.3s ease;

        &.ng-touched.ng-invalid {
            border-color: $highlight-red;

            ~label {
                color: $highlight-red;
            }
        }

        &:focus,
        &:active,
        &:focus-visible {
            border-color: var(--theme-highlight-purple);
        }
    }
}
.form-icon {
    display: flex;
    align-items: center;
    color: var(--theme-highlight-purple);

    .icon-wrapper {
        cursor: pointer;
    }
}
.form-footer {
    padding-right: 36px;

    .form-footer-inner {
        display: flex;
        padding-top: 20px;
        border-top: 2px solid var(--theme-highlight-purple);
    }

    .btn {
        &:first-child {
            margin-right: auto;
        }
        &:last-child {
            margin-left: 12px;
        }
    }
}