<div
  class="drawer-backdrop"
  [hidden]="!isVisible"
  (click)="closeDrawer()"
></div>
<div class="form-drawer" [hidden]="!isVisible">
  <form [formGroup]="invoiceForm" novalidate>
    <h3>Create Invoice</h3>
    <div class="form-fields-wrapper">
      <p class="form-section-title">Bill From</p>
      <div class="form-wrapper sender" formGroupName="senderAddress">
        <div class="form-control">
          <input
            type="text"
            id="street-from"
            formControlName="street"
            autocomplete="off"
          />
          <label for="street-from">Street Address</label>
        </div>
        <div class="form-control-wrapper">
          <div class="form-control">
            <input
              type="text"
              id="city-from"
              formControlName="city"
              autocomplete="off"
            />
            <label for="city-from">City</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="post-from"
              formControlName="postCode"
              autocomplete="off"
            />
            <label for="post-from">Post Code</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="country-from"
              formControlName="country"
              autocomplete="off"
            />
            <label for="country-from">Country</label>
          </div>
        </div>
      </div>

      <p class="form-section-title">Bill To</p>

      <div class="form-control">
        <input
          type="text"
          id="client-name"
          formControlName="clientName"
          autocomplete="off"
        />
        <label for="client-name">Client's Name</label>
      </div>
      <div class="form-control">
        <input
          type="text"
          id="client-email"
          formControlName="clientEmail"
          autocomplete="off"
        />
        <label for="client-email">Client's Email</label>
      </div>

      <div class="form-wrapper sender" formGroupName="clientAddress">
        <div class="form-control">
          <input
            type="text"
            id="street-to"
            formControlName="street"
            autocomplete="off"
          />
          <label for="street-to">Street Address</label>
        </div>
        <div class="form-control-wrapper">
          <div class="form-control">
            <input
              type="text"
              id="city-to"
              formControlName="city"
              autocomplete="off"
            />
            <label for="city-to">City</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="post-to"
              formControlName="postCode"
              autocomplete="off"
            />
            <label for="post-to">Post Code</label>
          </div>
          <div class="form-control">
            <input
              type="text"
              id="country-to"
              formControlName="country"
              autocomplete="off"
            />
            <label for="country-to">Country</label>
          </div>
        </div>
      </div>
      <div class="form-control-wrapper">
        <div class="form-control">
          <input
            type="date"
            id="invoice-date"
            formControlName="paymentDue"
            autocomplete="off"
          />
          <label for="invoice-date">Invoice Date</label>
        </div>
        <div class="form-control">
          <select
            id="payment-terms"
            formControlName="paymentTerms"
            autocomplete="off"
          >
            <option
              [value]="term.value"
              *ngFor="let term of paymentTermsProps.options"
            >
              {{ term.label }}
            </option>
          </select>
          <label for="payment-terms">Payment Terms</label>
        </div>
      </div>
      <div class="form-control">
        <input
          type="text"
          id="description"
          formControlName="description"
          autocomplete="off"
        />
        <label for="description">Description</label>
      </div>

      <p class="form-section-title">Item List</p>

      <div class="form-wrapper sender" formArrayName="items">
        <div
          class="form-control-wrapper"
          *ngFor="let item of items.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="form-control">
            <input
              type="text"
              id="item-name"
              formControlName="name"
              autocomplete="off"
            />
            <label for="item-name">Item Name</label>
          </div>
          <div class="form-control">
            <input
              type="number"
              id="item-quantity"
              formControlName="quantity"
              autocomplete="off"
              (input)="calculateTotal(item)"
            />
            <label for="item-quantity">Quantity</label>
          </div>
          <div class="form-control">
            <input
              type="number"
              id="item-price"
              formControlName="price"
              autocomplete="off"
              (input)="calculateTotal(item)"
            />
            <label for="item-price">Price</label>
          </div>
          <div class="form-control disabled">
            <input
              type="text"
              id="item-total"
              formControlName="total"
              autocomplete="off"
            />
            <label for="item-total">Total</label>
          </div>
          <div class="form-icon">
            <div class="icon-wrapper" (click)="removeItem(i)">
              <svg-icon-sprite
                [src]="'assets/sprites/sprite.svg#icon-delete'"
                [width]="'25px'"
              ></svg-icon-sprite>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-theme-primary w-100"
          (click)="addItem()"
        >
          Add Item
        </button>
      </div>
    </div>
    <div class="form-footer">
      <div class="form-footer-inner">
        <button
          type="button"
          class="btn btn-theme-primary"
          (click)="discardForm()"
        >
          Discard
        </button>
        <button
          type="button"
          class="btn btn-theme-primary"
          (click)="onSubmit('draft')"
        >
          Save as Draft
        </button>
        <button class="btn btn-purple" (click)="onSubmit('pending')">
          Save & Send
        </button>
      </div>
    </div>
  </form>
</div>
